[submodule "external_lib/utl"]
	path = external_lib/utl
	url = git@git.motis-project.de:lib/utl.git
[submodule "external_lib/libgit2"]
	path = external_lib/libgit2
	url = git@github.com:libgit2/libgit2.git
