[submodule "external_lib/utl"]
	path = external_lib/utl
	url = git@git.motis-project.de:lib/utl.git
[submodule "external_lib/fmt"]
	path = external_lib/fmt
	url = git@git.motis-project.de:lib/fmt.git
